.navbar
{
  background:darkturquoise;
}
textarea
{
  height: 55px;
}


thead
{
  background:rgb(145, 216, 218);
  border-bottom: 2px solid grey;
  color:white;
}
.dropdown-toggle
{
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:515px)
{
  table tr
  {
    display:flex;
    flex-wrap: wrap;
  }
}